[
  {pes, [

  ]},
  {kernel,
    [{logger,
      [{handler, pes, logger_std_h,
        #{config => #{file => "log/pes.log"},
          sync_mode_qlen => 1000,
          flush_qlen => 2000000,
          drop_mode_qlen => 20000000,
          max_no_bytes => 10485760,
          burst_limit_enable => false,
          overload_kill_enable => false,
          level => debug,
          formatter => {logger_formatter,
                        #{template => [time," ", node, " ", pid, " cid=", cid , " state_name=", state_name ," ",msg,"\n"]}}}},
        {handler, default, logger_std_h,
          #{config => #{file => "log/default.log"},
            max_no_bytes => 10485760,
            sync_mode_qlen => 1000,
            flush_qlen => 20000000,
            drop_mode_qlen => 200000000,
            burst_limit_enable => false,
            overload_kill_enable => false,
            level => debug}},
        {logger_level, debug}
      ]
    }
    ]
  }
].